div.m-input {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 8px;
  width: calc(100% - 16px);
  &.small {
    div.m-input-content {
      input {
        padding: 2px 30px 2px 8px;
        min-height: 28px;
        &:focus + label,
        &:valid + label {
          top: -80%;
          transform: translateX(-4px);
        }
      }
      label {
        left: 8px;
      }
    }
    &.placeholder {
      div.m-input-content label {
        top: -80%;
        transform: translateX(-4px);
        font-size: 14px;
      }
    }
    div.m-input-details {
      position: relative;
      margin: 2px 8px;
    }
  }
  &.medium {
    div.m-input-content {
      input {
        padding: 4px 30px 4px 12px;
        min-height: 32px;
        &:focus + label,
        &:valid + label {
          top: -69%;
          transform: translateX(-8px);
        }
      }
      label {
        left: 12px;
      }
    }
    &.placeholder {
      div.m-input-content label {
        top: -69%;
        transform: translateX(-8px);
        font-size: 14px;
      }
    }
    div.m-input-details {
      margin: 4px 12px;
    }
  }
  &.big {
    div.m-input-content {
      input {
        padding: 8px 30px 8px 16px;
        min-height: 40px;
        &:focus + label,
        &:valid + label {
          top: -56%;
          transform: translateX(-12px);
        }
      }
      label {
        left: 16px;
      }
    }
    &.placeholder {
      div.m-input-content label {
        top: -56%;
        transform: translateX(-12px);
        font-size: 14px;
      }
    }
    div.m-input-details {
      margin: 8px 16px;
    }
  }
  &.not-validate {
    color: rgb(var(--error)) !important;
    input {
      border-bottom: 2px solid rgba(var(--error)) !important;
    }
    label {
      color: rgb(var(--error)) !important;
    }
  }
  div.m-input-content {
    position: relative;
    display: flex;
    input {
      border-radius: 8px;
      color: var(--text-color);
      background-color: var(--color-background);
      width: 100%;
      &:focus,
      &:valid {
        color: var(--color-text-active);
        border-bottom: 2px solid rgba(var(--color));
      }
      &:focus + label,
      &:valid + label {
        font-size: 14px;
        color: var(--colorHex, var(--color-text-active));
      }
      &:focus ~ div.m-input-clear-wrapper,
      &:valid ~ div.m-input-clear-wrapper {
        svg.clear-icon.show {
          opacity: 1;
          transform: translateX(-8px);
        }
      }
    }
    label.m-input-label {
      position: absolute;
      cursor: text;
      transition: all 0.25s ease;
      font-size: 16px;
      top: calc(50% - 10px);
      color: var(--color-text);
    }
  }
  div.m-input-details {
    position: relative;
    &.error {
      color: rgb(var(--error));
    }
    span {
      font-size: 12px;
    }
  }
  div.m-input-clear-wrapper {
    position: absolute;
    overflow: hidden;
    width: 30px;
    height: 100%;
    top: 0px;
    right: 0px;
    svg.clear-icon {
      position: absolute;
      right: 0px;
      opacity: 0;
      top: calc(50% - 8px);
      transform: translateX(12px);
      transition: all 0.5s ease-out;
      cursor: pointer;
    }
  }
  div.m-input-loading {
    position: absolute;
    background-color: var(--color-background);
    right: 8px;
    top: calc(50% - 8px);
  }
}
