button.m-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--text-color);
  background: var(--color);
  white-space: normal;
  word-break: break-word;
  &.loading,
  &.disabled {
    pointer-events: none;
  }
  &:not(.plain, .outline, .loading) {
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px -10px rgba(var(--color));
    }
  }
  &.disabled {
    opacity: 0.35;
  }
  &.block {
    width: 100%;
  }
  &.plain {
    background-color: rgba(var(--color), 0.15) !important;
    color: rgba(var(--color), 1) !important;
    &:hover {
      background-color: rgba(var(--color), 0.25) !important;
    }
    &:focus {
      background: rgba(var(--color), 1) !important;
      color: white !important;
    }
  }
  &.outline {
    border: 2px solid rgba(var(--color, 1));
    color: rgba(var(--color), 1) !important;
    background-color: transparent !important;
    &:not(.loading):hover {
      border-color: rgba(var(--color), 0.6);
    }
    &:not(.loading):focus {
      background: rgba(var(--color), 1) !important;
      color: white !important;
    }
  }
  &.primary,
  &.warning,
  &.warning,
  &.success,
  &.error {
    color: white;
    background: rgba(var(--color), 1);
  }
  &::after {
    transform: translate(-4px);
  }
  &.small {
    padding: 4px 12px;
    font-size: 12px;
  }
  &.medium {
    padding: 8px 16px;
    font-size: 14px;
  }
  &.big {
    padding: 10px 20px;
    font-size: 16px;
  }
}
